/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
#board {
    border: 1px solid black;
    box-sizing: border-box;
    height: 600px;
    margin: 0 auto 2% auto;
    padding: 1%;
    position: relative;
    width: 75%;
}
#board ol {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
}
#board li {
    box-sizing: border-box;
    line-height: 6;
    text-align: center;
}
#row1 {
    background: red;
    border-bottom: 1px solid black;
    height: 16.67%;
    left: 0;
    top: 0;
    width: 83.33%;
}
#row1 li {
    border-left: 1px solid black;
    float: left;
    height: 100%;
    width: 20%;
}
#row1 li:first-child {
    border-left: none;
}
#row2 {
    background: green;
    border-left: 1px solid black;
    height: 83.33%;
    right: 0;
    top: 0;
    width: 16.67%;
}
#row2 li {
    border-top: 1px solid black;
    height: 20%;
    width: 100%;
}
#row2 li:first-child {
    border-top: none;
}
#row3 {
    background: blue;
    border-top: 1px solid black;
    bottom: 0;
    height: 16.67%;
    right: 0;
    width: 83.33%;
}
#row3 li {
    border-right: 1px solid black;
    float: right;
    height: 100%;
    width: 20%;
}
#row3 li:first-child {
    border-right: none;
}
#row4 {
    background: gray;
    border-right: 1px solid black;
    bottom: 0;
    height: 83.33%;
    left: 0;
    width: 16.67%;
}
#row4 li {
    border-top: 1px solid black;
    height: 20%;
    width: 100%;
}
#row4 li:first-child {
    border-top: none;
}

#marker {
    color: white;
    font-size: 5em;
    line-height: 1.3;
}

#life-cards {
    left: 20%;
    height: 60%;
    margin-bottom: 1em;
    overflow: hidden;
    position: absolute;
    top: 20%;
    width: 28%;
}
#life-cards h3 {
    margin: 0;
    padding: 0;
    text-align: center;
}
#life-cards ul {
    list-style: none;
    height: 90%;
    margin: 0 auto;
    padding: 0;
    position: relative;
    width: 96%;
}
#life-cards.inactive {
    opacity: 0.25;
}
#life-cards.active {
    outline: 999em solid rgba( 0, 0, 0, 0.8 );
    z-index: 10;
}
#life-cards li {
    background: white;
    border: 2px solid black;
    border-radius: 0.35em;
    box-sizing: border-box;
    display: block;
    height: 100%;
    line-height: 1.5;
    margin: 0 0 1em 0;
    overflow: hidden;
    text-align: left;
}
#life-cards li span {
    display: block;
}
#life-cards .face {
    font-size: 3.5em;
    text-align: center;
}
#life-cards .drawn {
    position: absolute;
    top: 0;
    z-index: 10;
}
#life-cards .forward span {
    color: green;
    font-weight: bold;
}
#life-cards .backward span {
    color: red;
    font-weight: bold;
}
#life-cards img {
    display: block;
    max-height: 75%;
    width: 100%;
}
#life-cards .life-event {
    height: 25%;
    overflow: auto;
    padding: 0.25em 0.5em;
}

#dice {
    background: silver;
    right: 20%;
    height: 60%;
    margin-bottom: 1em;
    overflow: hidden;
    position: absolute;
    top: 20%;
    width: 28%;
}
#dice h3 {
    margin: 0;
    padding: 0;
    text-align: center;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 100%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   Theses examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (max-width: 35em) {
    #board {
        border: none;
        height: auto;
    }
    #board ol {
        position: static;
    }

    #row1, #row2, #row3, #row4 {
        border: none;
        border-left: 1px solid black;
        border-right: 1px solid black;
        height: auto;
        width: 98%;
    }
    #row1 li, #row2 li, #row3 li, #row4 li,
    #row2 li:first-child {
        border: none;
        border-top: 1px solid black;
        float: none;
        width: 100%;
    }
    #row4 {
        border-bottom: 1px solid black;
    }

    #life-cards, #dice {
        position: static;
        width: 98%;
    }
    #life-cards {
        height: 360px;
    }
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
