#dice {
    background: silver;
    left: 6%;
    height: 30%;
    margin-bottom: 1em;
    overflow: hidden;
    position: absolute;
    top: 12%;
    width: 32%;
}
#dice h3 {
    margin: 0;
    padding: 0;
    text-align: center;
}
#die {
    background: white;
    border: 1px solid black;
    border-radius: 0.35em;
    box-sizing: border-box;
    height: 50px;
    margin: 1em auto 0 auto;
    overflow: hidden;
    position: relative;
    width: 50px;
}
#die span {
    display: block;
    font-size: 2em;
    height: 30%;
    line-height: .5;
    position: absolute;
    text-align: center;
    width: 30%;
    z-index: 1;
}
#die span {
    visibility: hidden;
}

/* --------------------------
    Side 1
-------------------------- */
#die.side_1 #dot_1 {
    left: 50%;
    margin: -15% 0 0 -15%;
    top: 50%;
    visibility: visible;
}
/* --------------------------
    Side 2
-------------------------- */
#die.side_2 #dot_1 {
    left: 0;
    margin: 5% 0 0 5%;
    top: 0;
    visibility: visible;
}
#die.side_2 #dot_2 {
    bottom: 0;
    margin: 0 5% 5% 0;
    right: 0;
    visibility: visible;
}
/* --------------------------
    Side 3
-------------------------- */
#die.side_3 #dot_1 {
    left: 0;
    margin: 5% 0 0 5%;
    top: 0;
    visibility: visible;
}
#die.side_3 #dot_2 {
    bottom: 0;
    margin: 0 5% 5% 0;
    right: 0;
    visibility: visible;
}
#die.side_3 #dot_3 {
    left: 50%;
    margin: -15% 0 0 -15%;
    top: 50%;
    visibility: visible;
}
/* --------------------------
    Side 4
-------------------------- */
#die.side_4 #dot_1 {
    left: 0;
    margin: 5% 0 0 5%;
    top: 0;
    visibility: visible;
}
#die.side_4 #dot_2 {
    bottom: 0;
    margin: 0 5% 5% 0;
    right: 0;
    visibility: visible;
}
#die.side_4 #dot_3 {
    right: 0;
    margin: 5% 5% 0 0;
    top: 0;
    visibility: visible;
}
#die.side_4 #dot_4 {
    bottom: 0;
    margin: 0 0 5% 5%;
    left: 0;
    visibility: visible;
}
/* --------------------------
    Side 5
-------------------------- */
#die.side_5 #dot_1 {
    left: 0;
    margin: 5% 0 0 5%;
    top: 0;
    visibility: visible;
}
#die.side_5 #dot_2 {
    bottom: 0;
    margin: 0 5% 5% 0;
    right: 0;
    visibility: visible;
}
#die.side_5 #dot_3 {
    right: 0;
    margin: 5% 5% 0 0;
    top: 0;
    visibility: visible;
}
#die.side_5 #dot_4 {
    bottom: 0;
    margin: 0 0 5% 5%;
    left: 0;
    visibility: visible;
}
#die.side_5 #dot_5 {
    left: 50%;
    margin: -15% 0 0 -15%;
    top: 50%;
    visibility: visible;
}
/* --------------------------
    Side 6
-------------------------- */
#die.side_6 #dot_1 {
    left: 0;
    margin: 5% 0 0 5%;
    top: 0;
    visibility: visible;
}
#die.side_6 #dot_2 {
    bottom: 0;
    margin: 0 5% 5% 0;
    right: 0;
    visibility: visible;
}
#die.side_6 #dot_3 {
    right: 0;
    margin: 5% 5% 0 0;
    top: 0;
    visibility: visible;
}
#die.side_6 #dot_4 {
    bottom: 0;
    margin: 0 0 5% 5%;
    left: 0;
    visibility: visible;
}
#die.side_6 #dot_5 {
    left: 0;
    margin: -15% 0 0 5%;
    top: 50%;
    visibility: visible;
}
#die.side_6 #dot_6 {
    right: 0;
    margin: -15% 5% 0 0;
    top: 50%;
    visibility: visible;
}

/*
@media only screen and (max-width: 35em) {
}
*/
