@primaryColor: #028E9B;	// Teal
@compColor: #FF7800;	// Orange

@import "mixins.less";
@import "h5bp.less";

a {
	&:link, &:visited {
		color: @primaryColor;
		text-decoration: none;
	}
	&:hover, &:active {
		text-decoration: underline;
	}
}

h1, h2, h3, h4, h5, h6 {
	color: @compColor;
}

@import "board.less";
@import "marker.less";
@import "lifeCards.less";
@import "dice.less";
